* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.card {
  margin: 7% auto;
  max-width: 26rem;
  min-width: 25.9rem;
  border: 10px solid #FFE658;
  border-radius: .4rem;
  height: 38.8rem;
  background: #e0ece4;
  min-height: 38.8rem;
  max-height: 38.8rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  border-bottom: 1px solid gray;
  margin-bottom: 0.2rem;
  box-shadow: 0px 5px 10px gray;
}

.card-title div {
  display: flex;
}

.card-title__name{
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.card-title__power{
  font-size: 1.5rem;
  display: flex;
  font-weiht: bold;
  align-items: center;
}

.card-title__power span {
  font-size: 1rem;
}
.logo {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: 1px solid grey;
  margin: 0 .2rem;
}

.card-title div:last-child {
  display: flex;
  align-items: center;
}

.card-image-container {
  text-align: center;
}

.card-image {
  border: 3px solid #938B87;
  width: 95%;
}

.card-down {
  margin-top: .8rem;
  margin-left: .4rem;
}

.atack {
  margin-top: .3rem;
}

.atack-title {
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.atack-title {
  margin-left: 0.7rem;
}

.atack-image {
  width: 1.6rem;
  border-radius: 100%;
  border: 1px solid grey;
}

.atack-description{
  margin:  0 0.4rem;
}

.atack-power{
  font-weight: bold;
  margin-right: 0.3rem;
}

.weakness {
  display: flex;
  margin-top: 2rem;
  margin-left: 0.7rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid lightgrey;
  width: 70%;
  height: 3rem;
  box-shadow: 0px 10px 10px lightgrey;
  box-shadow: -1px 1px 5px grey;
  font-size: 0.8rem;
}

.weakness-title figure{
  display: flex;
  margin-top: .3rem;
  margin-left: 0.6rem;
}

.weakness-image {
  width: 1.5rem;
  border-radius: 100%;
  margin-right: 0.3rem;
}

.weakness-title__type{
  margin-right: 2rem;
  margin-left: 0.8rem;
}

.weakness-description {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.retire{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.retire-text {
  margin-right: 1rem;
  font-size: 0.8rem;
}
.retire-image {
  width: 1.3rem;
  height: 1.3rem;
}

.foot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.5rem;
}

.foot p {
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.foot img {
  height: 1.2rem;
}